body{
    width: auto;
    margin: 0;
    align-items: center;
    line-height: 1.8em;
    color: #666666;
}

.img-container{
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-attachment: fixed;
}
.img-1{
    background-image: url('images/image1.jpg');
    height: 600px;    
}
.img-2{
    opacity: 1;
    background-image: url('images/image2.jpg');
    min-height: 200px;    
}
.img-3{
    background-image: url('images/image3.jpg');
    min-height: 300px;
}
.img-text{
    color: #f8f8f8;
}