#sidebar {
    background-color: red;
    position: fixed;
    width: 100px;
    height: 100vh;
    color: white;
    padding: 100px 0px;
    transition: all 0.2s ease-in;
}

#sidebar:hover {
    width: 400px;
}

.sidebar-menu-item {
    display: flex;
    padding: 20px;
    align-items: center;
}

.sidebar-menu-item .lead {
    position: absolute;
    left: 140px;
    padding: 0;
    margin-bottom: 0;
}

.sidebar-menu-item:hover {
    background-color: rgba(255,50,50);
}
 
#content {
    margin-left: 100px;
}