nav {
    margin-top: 0;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgba($color: #000000, $alpha:0.87);
    color: ghostwhite;
    box-shadow: 0 13px 4px -5px rgba(0, 0, 0, 0.4);
    z-index: 999;
    
    .nav-brand {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
        
        &:hover {
            transform: scale(1.1) rotateY(360deg);
        }
    }
    
    .nav-item,
    .nav-brand {
        cursor: pointer;
        transition: 0.4s all ease;
    }
    
    .nav-items {
        width: 60%;
        margin-left: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-weight: lighter;
        font-size: 14px;
        
        .nav-item {
            
            &:hover {
                transform: scale(1.4) rotateY(-360deg);
            }
        }
    }
    
    .toggle {
        display: none;
        pointer-events: none;
        
        div {
            background-color: ghostwhite;
            height: 4px;
            width: 35px;
            transition: all 0.3s ease;
            box-shadow: 1.8px 1.8px 0.2px 0.4px rgba($color: #fff, $alpha: 0.7);
        }
        
        div:not(:first-of-type) {
            margin-top: 6px;
        }
    }
    
    .toggle.active {
        div:nth-of-type(1) {
            transform: rotate(45deg) translateY(13px);
        }
        
        div:nth-of-type(2) {
            opacity: 0;
        }
        
        div:nth-of-type(3) {
            transform: rotate(-45deg) translateY(-13px);
        }
    }
}

@media only screen and (max-width:800px) {
    nav {
        overflow: hidden;
        
        .toggle {
            display: block !important;
            margin-left: auto;
            
            cursor: pointer;
            pointer-events: all;
        }
        
        .nav-items {
            position: fixed;
            left: 0;
            top: 0;
            transform: translateY(-200%);
            color: ghostwhite;
            height: 200px;
            width: 100%;
            margin-left: 0;
            padding-left: 20px;
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            transition: 600ms all ease;
            
            
            background-color: rgba($color: #000000, $alpha: 0.5);
            pointer-events: none;
        }
        
        .nav-items.active {
            transform: translateY(64px);
            pointer-events: all;
        }
    }
}